{% extends 'base.html.twig' %}

{% block body %}
    <ul>
        <li><a href="{{ path('index') }}">Accueil</a></li>
        <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
    </ul>
    <div id="clickblock">
        <a onclick="autoCorrect(this); return false;">Il y a des fotes dan sete fraz. Cliké ici pour lé corrigés.</a>
    </div>
{% endblock %}
